.root-canals{
 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 50%));
  background-color: var(--blue-light-super);
  padding:150px 50px 0 50px;
  border-radius:50px ;
  
}

.root-canals h1{
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 32px;
  margin-top: 32px;
}

.root-canals p{
  font-size: 1.2rem;
  line-height:1.4 ;
  margin-bottom: 32px;
  width: 80%;
}
.root-canals-img{
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
 
}
.root-canals-img img{
width: 100%;
object-fit: cover;
}
.root-canals-contact{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
/* @media (max-width:750px) {
  .root-canals{
    display: flex;
    flex-direction: column-reverse;
    padding:50px 10px 0 10px;
    border-radius:0px ;
  }
  .root-canals-img img{
    width: 50%;
    border: solid red;
  }
  .title h2{
    text-align: center;
    font-size: 2rem;
  }
  .text{
   text-align: center;
  }
  
} */