.features{
  width: 100%;
  padding: 50px;
  background-color: var(--blue-light-super);
  border-radius: 50px;
}
.features h4{
  margin-bottom: 16px;
}
.features .info-wrapper{
 
}
.features .title h2{
  font-size: 2rem;
  margin-bottom: 16px;
}
.features .text{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 32px;
}
.icon-features-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  
}
@media (max-width:750px) {
  .features{
    padding: 0;
    text-align: center;
  }
  .icon-features-wrapper{
    display: flex;
    flex-direction: column;
    padding:50px 10px 0 10px;
    border-radius:0px ;
  }
  
  .features .title h2{
    text-align: center;
    font-size: 1.2rem;
  }
  .features .text{
   text-align: center;
   font-size: 1rem;
   padding: 8px;
  }
 
}